* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 100%;
  height: 500px;
  border-bottom: 15px solid rgb(35, 160, 35);
  background: linear-gradient(#87ceeb, #e0f6ff);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.game-over {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.game-over h1 {
  display: none;
  font: 500 5rem "Press Start 2P", cursive;
  position: absolute;
  z-index: 2;
  color: #e30200;
  -webkit-text-stroke: 2px #000;
}

.mario {
  width: 150px;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.jump {
  animation: jump 800ms ease-out;
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  height: 80px;
  animation: pipe-animation 1.5s infinite linear;
}

.clouds {
  width: 500px;
  position: absolute;
  top: 20px;
  animation: cloud-animation 20s infinite linear;
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  40% {
    bottom: 160px;
  }
  50% {
    bottom: 160px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

@keyframes cloud-animation {
  from {
    right: -500px;
  }
  to {
    right: 100%;
  }
}
